* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: black;
}
.header > img {
  width: 45px !important;
  object-fit: contain;
  cursor: pointer;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right > h1 {
  font-weight: 500;
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
  margin-right: 10px;
}
.header__right > h1:first-child {
  color: blue !important;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  flex-wrap: wrap;
}
.top > img {
  margin-left: 20px;
  width: 45px !important;
  object-fit: contain;
  cursor: pointer;
}
.top > h2 {
  margin: 0 10px;
}
/* .list-group {
  width: 100% !important;
  max-width: 500px !important;
  margin: auto !important;
} */
.list-group-item {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-wrap: wrap;
}
.badge {
  padding: 10px !important;
  cursor: pointer;
}

.information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: initial;
}
.list-group {
  flex: 1 !important;
  margin: auto;
}
.list-group:first-child {
  margin-right: 5px;
}
.list-group:last-child {
  margin-left: 5px;
}
